.Container{
    background-color: rgb(164, 109, 25);


}
.descrip{
      margin:0 auto;
      height: 70%;
      width: 70%;
      text-align: center;
      flex-basis: 20rem;
      flex-grow: 1;
      background-color: rgb(236, 223, 221);

}

.grid-columns{
    display: grid;
    grid-template-columns: auto auto auto
}
.display-productos{
      margin:0 auto;
      justify-self: center;
      width: 60%;
      flex-basis: 0;
      flex-grow: 999;
      min-width: 40%;
}

body{
    background-color: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  position: static;
}
